/* App container style */
.App {
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
}

/* App title style */
.heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  margin: 0;
  letter-spacing: 8px;
}
