@import '../../../styles/variables';

@function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

.input {
  padding: 9px;
  border: solid 1px $white;
  outline: 0;
  font-family: $font-family;
  color: $white;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  // Type text
  &--text {
    width: 50vw;
    background: $input-text-bg;

    &:hover,
    &:focus {
      box-shadow: $input-text-hovered-shadow;
    }
  }

  // Type submit
  &--submit {
    width: 10vw;
    border: 0.3px solid $black;
    background: $input-submit-bg;
    border-radius: 12px;
    margin-left: 10px;
    display: inline-block;
    touch-action: manipulation;
    transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
    width: auto;

    &:hover {
      box-shadow: $input-submit-hovered-shadow;
      background-color: invert($input-submit-bg, 90%);
    }

    // Media querys
    @media screen and (max-width: $screen-md) {
      width: 30vw;
      margin-top: 20px;
    }
  }

  // Placeholder style
  &::-webkit-input-placeholder {
    /* Edge */
    color: $placeholder;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $placeholder;
  }
  &::placeholder {
    color: $placeholder;
  }

  // Disabled style
  &:disabled {
    background: $dark-gray;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
  }
}
