@import '../../../styles/variables';

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $black;

  &:hover {
    .tooltip__text {
      visibility: visible;
      opacity: 1;
    }
  }

  & .tooltip__text {
    visibility: hidden;
    width: auto;
    background-color: rgb(255, 242, 198);
    color: $black;
    border: 1px solid $black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 68%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.9rem;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    // Media querys
    @media screen and (max-width: $screen-md) {
      bottom: 80%;
    }
  }
}
