@import "../../styles/variables";

.card {
  &__container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    max-width: 150px;
    padding: 2px 16px;

    &--completed {
      background-color: #ffc2c2;
    }
  }

  &__item {
    flex-grow: 1;
    margin-left: 10px;
    cursor: pointer;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  // Media querys
  @media screen and (max-width: $screen-md) {
    margin-bottom: 25px;
  }
}
