@import '../../styles/variables';

.card {
  &__container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    padding: 2px 16px;
    max-height: 150px;

    &--completed {
      background-color: #ffc2c2;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      transform: translate(0, -5px);
    }
  }

  &__item {
    flex-grow: 1;
    margin-left: 10px;
    cursor: pointer;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Media querys
  @media screen and (max-width: $screen-md) {
    margin-bottom: 25px;
  }
}
