@import '../../styles/variables';

/* Form styles */
.input__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading meessage style*/
.loading {
  text-align: center;
}

/* Task list styles */
.tasklist {
  width: 60vw;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;

  // Media querys
  @media screen and (max-width: $screen-md) {
    flex-direction: column;
    align-items: center;
  }
}
