@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../public/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../public/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../public/fonts/Poppins-Black.ttf");
}
