@import "variables";
@import "fonts";

// Mixin to set dynamically typography size and weight
@mixin typography-input($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

// Reset css
html,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: $font-family;
}

// Footer
.footer {
  position: fixed;
  width: 100%;
  background: beige;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Typography
.heading {
  text-align: center;
  margin: 0;
  width: 100%;
}

.heading--1 {
  color: $h1-color;
  font-weight: 900;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 8px;
  width: 100%;
  @media screen and (max-width: $screen-md) {
    line-height: 40px;
  }
}

.heading--2 {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 4px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.heading--3,
.footer__text {
  font-weight: 300;
  line-height: 30px;
  color: $h3-color;
  padding-bottom: 10px;
  text-align: center;
}

.link {
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  color: $link-color;

  &:hover {
    cursor: pointer;
  }
}

input,
div,
p {
  @media screen and (min-width: $screen-xl) {
    @include typography-input($font-size-xl, 600);
  }

  @media screen and (min-width: $screen-md) and (max-width: $screen-xl) {
    @include typography-input($font-size-md, 600);
  }

  @media screen and (max-width: $screen-md) {
    @include typography-input($font-size-sm, 300);
  }
}
